<mat-card>
    <mat-form-field appearance="fill">
      <mat-label>Checkbox Example</mat-label>
      <mat-checkbox formControlName="checkbox">Check me!</mat-checkbox>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Input Field</mat-label>
      <input matInput formControlName="inputField" placeholder="Type something...">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Comments</mat-label>
      <textarea matInput formControlName="textArea"></textarea>
    </mat-form-field>
  </mat-card>
